<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <h1>Blogs!登录</h1>
    <form method="POST" action="/admin/">
        <p>用户名：<input type="text"  name ="adminid"  /></p>
        <p>密码：<input  type="password" name="adminpwd" /></p>
        <input type="submit" value="登录"/>

        <p>点击进入子页面</p>
        <a href="/admin/" >admin </a>
        <br>
        <a href="/database/" >classes 班级数据库查看</a>
        <br>
        <a href="/add_class/">add class 添加数据</a>

    </form>
</body>
</html>