<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        h1{ color: darkgreen;
        font-size: 40px;}
        p{color: black;
        font-size: 25px;}

    </style>

</head>
<body>
    <h1>Blogs！</h1>
{#    <br>#}
    <p>注册成功！</p>
{#    <img id="admin_image" src="/image/admin.jpg"  width="400">#}

    <p>进入<a href="/database/" style="color: red">Blogs</a></p>

    <p>返回<a href="/"  >登录</a>页面</p>

{#        返回<a href="/admin/">首页</a></p>#}
{#    <a href="/database/" >classes 班级数据库查看</a>#}
{#    <br>#}
{#    <a href="/add_class/">add class 添加数据</a>#}

</body>
</html>