<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号注册</title>
    <style>
        #err{
            font-size: 20px;
            color: #d90009;
        }


    </style>
</head>
<body>
    <h1>Blogs!注册</h1>
    <p id="err">{{ err }}</p>
    <form method="POST" action="/regist/">

        <p>用户名：<input type="text"  name ="adminid"  /></p>
        <p>密码：<input  type="password" name="adminpwd" /></p>
        <input type="submit" value="注册"/>
{#        没有账号？<a href="/regist/" target="_blank" >注册</a>#}

{#        <p>点击进入子页面</p>#}
{#        <a href="/admin/" >admin </a>#}
        <br>
        返回<a href="/" >登录</a>页面
{#        <br>#}
{#        <a href="/add_class/">add class 添加数据</a>#}

    </form>
</body>
</html>